<footer class="footer">
    <div class="container">
        <p>Bibliotheca. Copyrights&copy; reserved </p>
    </div>
</footer>

<script src="https://kit.fontawesome.com/3a76b91cf8.js" crossorigin="anonymous"></script>
<script src="./script.js"></script>
</body>

</html>